@charset "UTF-8";

#wrapper {
	margin: 0;
	padding: 10px;
}

body, textarea, ul {
	line-height: 1.5em;
}

h1 {
	font-size: 18pt;
}
h2 {
	font-size: 13pt;
	padding-bottom: 3px;
	border-bottom: 2px solid #ddd;
}
h3 {
	margin: 0;
	font-size: 11pt;
	border-bottom: 1px dotted #ddd;
}

#wrapper-popup {
	margin: 0;
	padding: 1px;
	min-width: 200px;
}
.popup-shortcut {
	width: 100%%;
	text-align: center;
}
.popup-shortcut li {
	width: 100%
}
.popup-shortcut a {
	padding: 2px;
	width: 100%;
	display: block;
	text-decoration: none;
	color: #258fb8;
	border-radius: 3px;
}
.popup-shortcut a:hover {
	background: #258fb8;
	color: #fff;
}

br {
	clear:both;
}

#cont-comp,
#cont-part {
	margin: 0;
	padding: 5px;
	width: 48%;
	float:left;
}
ul {
	margin: 5px 0;
	padding-left: 0;
	list-style: none;
}

textarea {
	width: 90%;
	height: 25em;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #ddd;
}
textarea.selected,
input.selected {
	background: #fffee0;
}

button {
	padding: 8px 25px;
	background: #ddd;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px #aaa;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;

}
button:hover {
	box-shadow: 0 5px #aaa;
	top: -1px;
}
button:active {
	box-shadow: 0 3px #aaa;
	top: 1px;
}

button, label {
	cursor: pointer;
}

a {
	margin: 0 12px 0 0;
	padding: 2px;
	white-space: nowrap;
	color: #258fb8;
	text-decoration: none;
}
a:hover {
	background: #258fb8;
	color: #fff;
	border-radius: 3px;
}
.aa {
	font-size: 10pt;
	line-height: 1.1em;
}
