@charset "UTF-8";


/* 共通
 ---------------------------------------------*/
body {
	margin: 0;
	padding: 0;
	background: #eee;
	color: #333;
	line-height: 1.8;
}
p {
	margin: .5em 0;
	font-size: .9em;
}
a {
	color: #258fb8;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	margin: 5px 0;
	padding-left: 0;
	list-style: none;
	line-height: 1.5em;
}

/* options.html
 ---------------------------------------------*/
#wrapper {
	margin: 0px auto;
	padding: 10px 20px 120px 20px;
	width: 840px;
	position: relative;
	top: 0;
	background: #fff;
}
#navigation {
	padding: 0px;
	width: 100%;
	position: fixed;
	text-align: center;
	background: #fff;
	margin-top: 0px;
	top: 0px;
	border-bottom: 1px solid #ddd;
	z-index: 9999;
}
#navigation ul {
	margin: 0;
	height: 40px;
	width: auto;
	line-height: 40px;
	display: inline-block;
}
#navigation li {
	display: inline-block;
}
#navigation li a {
	margin: 0;
	padding: 0 8px;
	border-radius: 0;
	color: inherit;
	display: block;
}
#navigation li a:hover {
	background: #eee;
	text-decoration: none;
}
#saveOptions {
	margin-left: 30px;
	padding: 8px 25px;
}
section {
	margin: 40px 0;
}
section:first-child {
	margin-top: 0;
}
h1 {
	font-size: 18pt;
	margin: 50px 20px 20px 20px;
	text-align: center;
}
h2 {
	position: relative;
	margin: 20px -30px;
	padding: 10px 30px;
	background: #69afca;
	color: #fff;
	font-size: 16pt;
}
h2:before {
	content: " ";
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: transparent;
	border-right-color: #498faa;
}
h2:after {
	content: " ";
	position: absolute;
	top: 100%;
	right: 0;
	width: 0;
	height: 0;
	border-width: 10px 10px 0 0;
	border-style: solid;
	border-color: transparent;
	border-top-color: #498faa;
}
h2:not(:first-child) {
	margin-top: 80px;
}
h3 {
	margin-bottom: 0;
	font-size: 11pt;
}
#cont-comp,
#cont-part {
	margin: 0;
	padding: 5px 10px 5px 0px;
	display: inline-block;
}
#cont-comp {
	width: 25%;
}
#cont-part {
	width: 72%;
}
ul ul {
	padding-left: 20px;
}
ul.showhide li {
	display: inline-block;
	margin-right: 10px;
}
textarea {
	margin: 3px 0px;
	padding: 5px;
	width: 97%;
	height: 20em;
	border-radius: 5px;
	border: 2px solid #ddd;
	line-height: 1.5em;
}
input[type="text"] {
	margin: 0 2px;
	padding: 5px;
	height: 1.3em;
	line-height: 1.3em;
	border-radius: 5px;
	border: 2px solid #ddd;
}
textarea:focus,
input:focus {
	background: #fffee0;
	outline: none;
}
button {
	padding: 7px 10px;
	color: #fff;
	background: #0096db;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 3px;
	position: relative;
	outline: none;
}
button:hover {
	background: #20a6fb;
}
input[type="checkbox"] {
	margin-right: 5px;
}
button, label, input[type="checkbox"] {
	cursor: pointer;
}
table.table-setting {
	margin: 10px 0 10px -20px;
	padding: 0;
	width: 880px;
	min-width: 50em;
	border-collapse: collapse;
}
table.table-setting tr {
	border-bottom: 1px solid #bbb;
}
table.table-setting tr:nth-child(odd) {
	background: #efefef;
}
table.table-setting th {
	line-height: 1.3em;
	padding: 3px;
	border-top: 0px solid #bbb;
	background: #004983;
	color: #fff;
}
table.table-setting td {
	padding: 8px 5px;
	text-align: center;
}
.deadline-name {
	width: 15em;
}
.deadline-datepicker {
	width: 6em;
	text-align: center;
}
.deadline-timepicker {
	width: 3em;
	text-align: center;
}
.deadline-url {
	width: 25em;
}
.caption-search-word {
	width: 42em;
}
.button-clear {
	background: #bbb;
	font-weight: normal;
}
.button-clear:hover {
	background: #ff4040;
}
#ng-words {
	width: ;
}

/* popup.html
 ---------------------------------------------*/
.popup-shortcut {
	width: 13.5em;
	text-align: center;
}
.popup-shortcut li {
	width: 100%
}
.popup-shortcut a {
	padding: 2px;
	width: 100%;
	display: block;
	text-decoration: none;
	color: #258fb8;
	border-radius: 0px;
}
.popup-shortcut a:hover {
	background: #258fb8;
	color: #fff;
}
.aa {
	font-size: 10pt;
	font-family: monospace;
	line-height: 1.1em;
}
