@charset "UTF-8";

.pixiv_tag_collector {
	//width: 960px;
	height: auto;
	margin: 5px auto;
	padding: 3px;
	border: 1px solid #258fB8;
	background: #efefef;
	border-radius: 5px;
	overflow: hidden;
}
.taglist {
	margin: 0;
	padding: 4px;
	min-height: 20px;
}
.taglist:before {
	margin: 0 6px 0 0;
	padding: 1px 2px;
	font-weight: bold;
	display: inline-block;
}
#pixiv_tag_collector_complete_tags, #pixiv_tag_collector_partial_tags {
	margin: 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #258FB8;
}
#pixiv_tag_collector_complete_tags:before {
	content: "完全一致検索";
}
#pixiv_tag_collector_partial_tags:before {
	content: "部分一致検索";
}
#pixiv_tag_collector_caption_tags:before {
	content: "キャプション検索";
}
#pixiv_tag_collector_caption_tags {
}
#completeTags, #partialTags, #captionTags {
	display: inline;
	line-height: 1.5em;
}
.taglistOnOff {
	margin-right: 5px;
	padding: 0px;
	width: 12px;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	font-weight: bold;
	border-radius: 50%;
	border: 2px solid #aaa;
	color: #aaa;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

.deadline {
	margin: 0 5px;
}
.deadline a,
.deadline-date {
	font-weight: bold;
}
.deadline-yabai:after {
	content: "進捗どうですか?";
	display: inline;
	color: #ff4040;
	font-weight: bold;
}

.taglist a {
	margin: 0 6px 0 0;
	padding: 1px 2px;
	color: #258fb8;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
}
.taglist a:hover {
	background: #258fb8;
	color: #fff;
}